<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Board List</title>
</head>
<body>
	<!--/* 주석 */-->
	<div class="container text-center">
		<table class="table" th:object="${board}">
			<tbody>
				<tr>
					<th>번호</th>
					<!-- <td>[[${board.bno}]]</td> -->
					<!-- <td th:text="*{bno}"></td> -->
					<td>[[*{bno}]]</td>
				</tr>
				<tr>
					<th>제목</th>
					<td>[[${board.title}]]</td>
				</tr>
				<tr>
					<th>작성자</th>
					<td>[[${board.writer}]]</td>
				</tr>
				<tr>
					<th>내용</th>
					<td height="100px" width="200px">[[${board.contents}]]</td>
				</tr>
				<tr>
					<th>첨부파일</th>
					<!-- <td>[[${board.image}]]</td> -->
					<td>
						<!-- <img style="width:50%" th:src="@{/images/{fileName}(fileName=${board.image})}"> -->
						<img style="width:50%" th:src="|@{/images/{fileName}(fileName=*{image})}|">
					</td>
				</tr>
				<tr>
					<th>작성일자(yyyy/MM/dd)</th>
					<td>[[${#dates.format(board.regdate,'yyyy/MM/dd')}]]</td>
				</tr>
			</tbody>
		</table>
		<div>			
			<button type="button" class="btn btn-primary" name="list"
					th:onclick="|location.href='@{/boardList}'|">목록</button>
			<!--/*
				<button type="button" class="btn btn-secondary">Secondary</button>
				<button type="button" class="btn btn-success">Success</button>
				<button type="button" class="btn btn-danger">Danger</button>
				<button type="button" class="btn btn-warning">Warning</button>
				<button type="button" class="btn btn-info">Info</button>
				<button type="button" class="btn btn-light">Light</button>
				<button type="button" class="btn btn-dark">Dark</button>
			*/-->
		</div>
	</div>
	<script>
		
	</script>
</body>
</html>