<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{common\layouts\default_layout}"
				layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
    <title>Insert</title>
  </head>
  <body>
    <!--/* 주석 */-->
    <form
      name="insertForm"
      th:action="@{/empInsert}"
      method="post"
      class="container text-center"
    >
      <h3>사원 등록</h3>
      <!--/*
			@{}, 링크표현식 => 경로를 생성할 때 사용
			href, src, action 속성에서 주로 사용 
		*/-->
      <div>
        <div class="input-group mb-3">
          <label for="ename" class="input-group-text">이름</label>
          <input class="form-control" id="ename" type="text" name="lastName" />
        </div>
        <div class="input-group mb-3">
          <label for="email" class="input-group-text">이메일</label>
          <input class="form-control" id="email" type="email" name="email" />
        </div>
        <div class="input-group mb-3">
          <label for="hdate" class="input-group-text">입사일</label>
          <input class="form-control" id="hdate" type="date" name="hireDate" />
        </div>
        <div class="input-group mb-3">
          <label for="job" class="input-group-text">업무</label>
          <input class="form-control" id="job" type="text" name="jobId" />
        </div>
        <div class="input-group mb-3">
          <label for="sal" class="input-group-text">급여</label>
          <input class="form-control" id="sal" type="number" name="salary" />
        </div>
        <div>
          <button type="reset" class="btn btn-danger">초기화</button>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </div>
    </form>
    <script>
      document
        .querySelector('form[name="insertForm"]')
        .addEventListener("submit", (e) => {
          e.preventDefault();
          let nameTag = document.querySelector('form [name="lastName"]');
          let salaryTag = document.querySelector('form [name="salary"]');
          if (nameTag.value == "") {
            alert("이름을 입력하세요");
            nameTag.focus();
            return;
          }
          if (salaryTag.value == "") {
            salaryTag.value = 0;
          }
          alert("정상적으로 등록되었습니다.");
          e.currentTarget.submit();
        });
    </script>
  </body>
</html>
