<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{common\layouts\default_layout}"
				layout:fragment="Content">
  <head>
    <meta charset="UTF-8" />
    <title>update</title>
  </head>
  <body>
    <!--/* 주석 */-->
    <form name="updateForm" th:object="${emp}" class="container text-center">
      <h3>정보 수정</h3>
      <div>
        <div class="input-group mb-3">
          <label for="eId" class="input-group-text">사원번호</label>
          <input
            class="form-control"
            id="eId"
            type="text"
            th:field="*{employeeId}"
            readonly
          />
        </div>
        <div class="input-group mb-3">
          <label for="ename" class="input-group-text">이름</label>
          <input
            class="form-control"
            id="ename"
            type="text"
            th:field="*{lastName}"
          />
        </div>
        <div class="input-group mb-3">
          <label for="email" class="input-group-text">이메일</label>
          <input
            class="form-control"
            id="email"
            type="email"
            th:field="*{email}"
          />
        </div>
        <div class="input-group mb-3">
          <label for="hdate" class="input-group-text">입사일</label>
          <input
            class="form-control"
            id="hdate"
            type="date"
            th:field="*{hireDate}"
          />
        </div>
        <div class="input-group mb-3">
          <label for="sal" class="input-group-text">급여</label>
          <input
            class="form-control"
            id="sal"
            type="number"
            th:field="*{salary}"
            step="0.01"
          />
        </div>
        <div>
          <button name="updateBtn" type="button" class="btn btn-secondary">
            수정
          </button>
        </div>
      </div>
    </form>
  </body>
  <script>
    const updateAjax = (e) => {
      // 1) 전송 데이터 밚롼
      let dataObj = getEmpObj();
      // 2) Ajax
      fetch("empUpdate", {
        method: "post",
        headers: {
          "content-type": "application/json",
        },
        body: JSON.stringify(dataObj),
      })
        .then((res) => res.jsoin)
        .then((result) => {
          console.log(result);
        });
    };
    const getEmpObj = () => {
      let formData = new FormData(updateForm);

      let formObj = {};
      formData.forEach((val, key) => {
        console.log(val, key);
        formObj[key] = val;
      });
      return formObj;
    };
    
    updateForm.querySelector("button").addEventListener("click", updateAjax);
  </script>
</html>
