<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{common\layouts\default_layout}"
				layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Dept Insert</title>
</head>
<body> <!--/* 주석 */-->
	<form name="insertForm" th:action="@{/deptInsert}" method="post" class="container text-center">
		<h3>회사 등록</h3>
		<div>
        <div class="input-group mb-3">
          <label for="dname" class="input-group-text">이름</label>
          <input class="form-control" id="dname" type="text" name="departmentName" />
        </div>
        <div class="input-group mb-3">
          <label for="mId" class="input-group-text">관리자코드</label>
          <input class="form-control" id="mId" type="text" name="managerId" />
        </div>
        <div>
          <button type="reset" class="btn btn-danger">초기화</button>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </div>
	</form>
	<script>
      document
        .querySelector('form[name="insertForm"]')
        .addEventListener("submit", (e) => {
          e.preventDefault();
          let nameTag = document.querySelector('form [name="departmentName"]');
          let managerTag = document.querySelector('form [name="managerId"]');
          if (nameTag.value == "") {
            alert("이름을 입력하세요");
            nameTag.focus();
            return;
          }
          if (managerTag.value == "") {
            salaryTag.value = 200;
          }
          alert("정상적으로 등록되었습니다.");
          e.currentTarget.submit();
        });
    </script>
</body>
</html>