<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.dept.mapper.DeptMapper">
	<!-- 전체조회 -->
	<select id="selectDeptAll" resultType="DeptVO">
		SELECT department_id
		, department_name
		, manager_id
		, location_id
		FROM
		departments
		<where>
			<if test="departmentName != null">
				OR department_name = '%'||#{departmentName}||'%'
			</if>
		</where>
		ORDER BY department_id
	</select>

	<!-- 단일조회 -->
	<select id="selectDept" resultType="DeptVO">
		SELECT department_id
		,
		department_name
		, manager_id
		, location_id
		FROM departments
		WHERE
		department_id = #{departmentId}
	</select>

	<!-- 등록 -->
	<insert id="insertDept" parameterType="DeptVO">
		<selectKey keyProperty="departmentId" resultType="Integer"
			order="BEFORE">
			<!-- 등록에 사용할 PK 조회 -->
			SELECT NVL(MAX(employee_id), 600)+10
			FROM departments
		</selectKey>
		INSERT INTO departments
		(
		department_id
		, department_name
		<if test="managerId > 0">
			, manager_id
		</if>
		)
		VALUES
		(
		#{department_id}
		, #{department_name}
		<if test="managerId > 0">
			, #{managerId}
		</if>
		)
	</insert>

	<!-- 수정 -->
	<update id="updateDept" parameterType="DeptVO">
		UPDATE departments
		SET
		<if test="departmentName != null and !departmentName.equals('')">
			, department_name = #{departmentName}
		</if>
		, manager_id = #{managerId}
		<if test="locationId > 0">
			, location_id = #{locationId}
		</if>
		WHERE department_id = #{departmentId}
	</update>

	<!-- 삭제 -->
	<delete id="deleteDept" parameterType="int">
		DELETE FROM departments
		WHERE department_id = #{departmentId}
	</delete>
</mapper>